{% extends 'base.html' %}
{% block title %}Enter New Password{% endblock %}
{% block header %}Enter New Password{% endblock %}
{% block content %}
    {% if validlink %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
    <p><a href="{% url 'login' %}">Back to Login</a></p>
{% endblock %}